.homeBanner {
  height: 30rem;
  width: 100%;
  position: relative;
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $black-01;
      opacity: .6;
      @include absolute(0, auto, auto, 0);
      transition: all .3s ease-in;
    }
  }
  .swiper-slide-active {
    &:before {
      opacity: 0;
      transition: all .3s ease-out;
    }
  }
  .swiper-pagination-bullet {
    background: $white-01;
    opacity: .5;
  }
  .swiper-pagination-bullet-active {
    background-color: $white-01;
    opacity: 1;
  }
  .swiper-button-prev,
  .swiper-button-next {
    &:after {
      font-size: 3rem;
      color: $white-01;
    }
  }
}

.cards-virarSocio-pagarQuota {
  width: 100%;
  position: relative;
  @include flex(row, center, flex-start, flex-start);
  flex-wrap: wrap;
  li {
    width: 100%;
    position: relative;
    height: 30rem;
    margin-bottom: 3rem;
    overflow: hidden;
    @include flex(row, center, flex-end, flex-end);
    &:hover {
      .bg-card {
        transform: scale(1.1);
        transition: all .3s ease-in-out;
      }
    }
  }
  .bg-card {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @include absolute(auto, auto, auto, auto);
    z-index: -1;
    transform-origin: center;
    transition: all .3s ease-in-out;
  }
  .infos__container {
    width: 100%;
    @include flex(row, space-between, center, center);
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
    @include md {
      @include flex(row, center, center, center);
    }
  }
  p {
    width: 65%;
    color: $white-01;
    @include font(2rem, 300, 1.3em);
    text-align: left;
    b {
      font-weight: 900;
    }
    @include md {
      width: 80%;
    }
  }
}