.pagarQuotas {
  width: 100%;
  position: relative;
  @include flex(column, center, center, center);
  h2 {
    text-align: center;
  }
  &__list {
    @include flex(row, flex-start, center, center);
    flex-wrap: wrap;
    &__item {
      padding: 1rem;
    }
    &__content {
      min-height: 20rem;
      border-radius: 1rem;
      padding: 1.5rem;
      background-color: $white-01;
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0);
      @include flex(column, space-between, center, center);
      transition: all .3s ease-in-out;
      img {
        width: 5rem;
      }
      &:hover {
        transform: scale(1.1);
        -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        transition: all .3s ease-in-out;
      }
    }
  }
}