.fluxoPagarQuotas {
  width: 100%;
  padding-top: 3rem;
  .row {
    @include flex(column, center, center, center);
  }
  h1 {
    text-align: center;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  &__footer {
    width: 100%;
    position: relative;
    background-color: $white-01;
    padding: 1.5rem 0;
    margin-top: 4.5rem;
    ul {
      @include flex(column, center, center, center);
      color: $primary-01;
      @include font(1.2rem, 300, 1.2em);
      text-align: center;
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
      @include sm {
        font-size: 1.4rem;
      }
      li {
        margin-bottom: 0.5rem;
        p {
          margin-bottom: 0;
          b {
            font-weight: 700;
          }
        }
        a {
          color: $secondary-01;
          border-bottom: 1px solid rgba(243, 69, 5, 0);
          transition: all .3s ease-out;
          &:hover {
            text-decoration: none;
            border-bottom: 1px solid rgba(243, 69, 5, 1);
            transition: all .3s ease-out;
          }
        }
        @include xs {
          margin-bottom: 1rem;
        }
      }
    }
  }
  // formas de pagamento
  .payList {
    width: 100%;
    position: relative;
    @include flex(column, center, center, center);
    ul {
      @include flex(row, center, center, center);
      flex-wrap: wrap;
      margin-bottom: 1.5rem;
      li {
        // height: 10rem;
        margin: 0 1.5rem;
        background-color: $white-01;
        border: 2px solid $primary-01;
        border-radius: 1rem;
        padding: 1rem 1.5rem 1.5rem;
        @include flex(column, center, center, center);
        flex-wrap: wrap;
        cursor: pointer;
        transform: scale(.9);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0);
        transition: all .3s ease-in-out;
        .meowallet__logo {
          width: 100%;
          display: block;
          text-align: right;
          img {
            height: 1.5rem;
            width: auto;
            margin: 0;
          }
        }
        img {
          width: 15rem;
          margin: .5rem;
        }
        p {
          width: 100%;
          text-align: center;
          margin-bottom: 0;
        }
        a {
          color: $secondary-01;
          @include font(1.2rem, 700, 1.2em);
          border-bottom: 1px solid rgba(243, 69, 5, 0);
          transition: all .3s ease-in;
          &:hover {
            text-decoration: none;
            border-bottom: 1px solid #F34605;
            transition: all .3s ease-in;
          }
        }
        &:hover {
          transform: scale(1);
          -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          transition: all .3s ease-in-out;
        }
      }
      .select {
        background-color: $white-01;
        border: 2px solid $secondary-01;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        transform: scale(1);
      }
    }
    .container-btn {
      margin-top: 3rem;
      @include flex(row, center, flex-end, flex-end);
      a {
        margin: 0 .5rem;
      }
      .btn__verMais {
        margin-right: 6rem;
      }
    }
  }
}

.aviso-multibanco {
  max-width: 60%;
  padding: 1.5rem;
  border: 2px solid $secondary-01;
  border-radius: .5rem;
  text-align: center;
  @include font(1.4rem, 700, 1.2em);
  img {
    width: 3rem;
    margin-right: 1.5rem;
  }
}

.terms {
  width: 100%;
  @include flex(row, flex-end, center, center);
  form {
    @include flex(column, center, flex-end, flex-end);
  }
  .btn__verMais {
    margin-bottom: 1rem;
  }
  .form-error {
    color: $secondary-02;
    @include font(1.2rem, 700, 1.2em);
  }
}