.bilhetes__container {
  .title__ligas {
    @include flex(row, flex-start, center, center);
    flex-wrap: wrap;
    margin-bottom: 3rem;
    @include md {
      @include flex(row, space-between, center, center);
    }
    @include sm {
      @include flex(column, center, center, center);
    }
  }
  .nav__ligas {
    @include flex(row, center, center, center);
    flex-wrap: wrap;
    margin-left: 6rem;
    @include sm {
      width: 100%;
      margin: 1.5rem 0;
      @include flex(row, space-between, center, center);
    }
    li {
      margin: 0 .5rem;
    }
    a {
      display: inline-block;
      position: relative;
      img {
        height: 4.2rem;
        opacity: .7;
        transition: all .3s ease-in-out;
        @include sm {
          height: 3rem;
        }
      }
      &:before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $secondary-01;
        @include absolute(auto, auto, -1rem, 0);
        transform: scale(0, 1);
        transform-origin: 0 0;
        transition: all .3s ease-in;
      }
      &:hover {
        img {
          opacity: 1;
          transition: all .3s ease-in-out;
        }
        &:before {
          transform: scale(1, 1);
          transition: all .3s ease-in;
        }
      }
    }
  }
}

.jornada {
  color: $secondary-01;
  @include font(1.6rem, 900, 1em);
  padding-left: 1rem;
}

.jogos {
  width: 100%;
  position: relative;
  @include flex(row, flex-start, center, center);
  flex-wrap: wrap;
  &__item {
    padding: 0 .5rem;
    text-align: left;
    @include md {
      padding-bottom: 1.5rem;
      position: relative;
    }
  }
  &__item--infos {
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background-color: $white-01;
    @include flex(row, space-between, center, center);
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    overflow-y: hidden;
    @include md {
      margin-bottom: .5rem;
    }
    li {
      padding: 0 .5rem;
      text-align: center;
    }
    .div-hover {
      width: 100%;
      height: 100%;
      @include absolute(0, auto, auto, 0);
      background-color: rgba(3, 39, 90, 0.5);
      @include flex(column, center, center, center);
      border-radius: 1rem;
      transform: translateY(100%);
      transition: all .3s ease-out;
    }
    &:hover {
      .div-hover {
        transform: translateY(0);
        transition: all .3s ease-out;
      }
    }
  }
  .infos__team {
    @include flex(column, center, center, center);
    img {
      height: 3.5rem;
      margin-bottom: .5rem;
    }
    span {
      @include font(1rem, 300, 1em);
      color: $black-01;
    }
  }
  .infos__list {
    @include flex(column, center, center, center);
    color: $black-01;
    &--liga,
    &--local {
      @include font(1.2rem, 300, 1em);
    }
    &--data {
      @include font(1.2rem, 700, 1em);
      text-transform: uppercase;
      margin: .5rem 0;
    }
  }
  .div-btnMobile {
    display: none;
    @include md {
      display: block;
      width: 100%;
      margin-top: 1.5rem;
    }
  }
  &__verMais {
    text-align: center;
    @include md {
      margin: 1.5rem 0;
    }
  }
}