.modal-login-container {
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 7rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999;
  position: fixed;
  overflow-y: auto;
  text-align: center;
}

.modal-content {
  width: 30%;
  background-color: $white-01;
  position: relative;
  @include md {
    width: 70%;
  }
  @include sm {
    width: 95%;
  }
}

.modal-login-container.mostrar {
  @include flex(column, flex-start, center, center);
}

.mostrar {
  .modal-content {
    animation: modal .6s;
  }
}

.closeModal {
  width: 1.5rem;
  height: auto;
  display: inline-block;
  @include absolute(-4rem, 0, auto, auto);
  transition: all .3s ease-in-out;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    opacity: .8;
    transform: scale(.9);
    transition: all .3s ease-in-out;
  }
}

.nav_tabs {
  width: 100%;
  height: auto;
  background: $white-01;
  position: relative;
  ul {
    @include flex(row, center, center, center);
    border-bottom: 2px solid $secondary-01;
    li {
      width: 50%;
      @include flex(row, center, center, center);
      //   font-family: $font-03;
      @include font(1.8rem, 700, 1em);
    }
  }
  .tab_label {
    width: 100%;
    padding: 2rem;
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: $secondary-01;
    color: $white-01;
    margin: 0;
  }
  .rd_tabs {
    display: none;
    position: absolute;
  }
  .rd_tabs:checked~label {
    background-color: $white-01;
    color: $secondary-01;
  }
  .rd_tabs:checked~.tab-content {
    @include flex(column, flex-start, center, center);
  }
  .tab-content {
    height: auto;
    width: 100%;
    background-color: #fff;
    display: none;
    @include absolute(6rem, auto, auto, 0);
    padding: 1.5rem 3rem;
    margin-bottom: 3rem;
    @include sm {
      padding: 1.5rem;
    }
    h3 {
      width: 80%;
    }
  }
  .listTeams_popUp {
    width: 100%;
    @include flex(row, center, center, center);
    flex-wrap: wrap;
    border: none;
    margin-top: .5rem;
    li {
      width: auto;
      padding: 5px;
    }
    .team-select {
      background-color: $white-01;
      border: 1px solid $secondary-01;
      border-radius: 5px;
    }
    img {
      width: 2.5rem;
    }
  }
  .infos-socio {
    @include flex(row, center, center, center);
    border: none;
    margin: .5rem 0;
    li {
      @include flex(column, center, center, center);
      width: auto;
      margin: 0 .5rem;
      @include font(1.6rem, 300, 1.2rem);
      color: $primary-01;
      span {
        margin: .5rem 0;
      }
    }
    img {
      width: 4rem;
    }
  }
}

.esqueci-senha {
  @include font(1.3rem, 900, 1.2em);
  color: $primary-01;
  text-align: left;
  margin-bottom: 1.5rem;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $primary-01;
    @include absolute(auto, auto, 0, 0);
    transform: scale(0, 1);
    transform-origin: 0 0;
    transition: all .3s ease-in;
  }
  &:hover {
    color: $primary-01;
    text-decoration: none;
    &:before {
      transform: scale(1, 1);
      transition: all .3s ease-in;
    }
  }
}

.cadastro-finalizado {
  padding: 3rem 1.5rem;
  i {
    width: 10rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    ;
    img {
      width: 100%;
    }
  }
  h2 {
    margin-bottom: 1.5rem;
  }
}

.noScroll {
  overflow: hidden;
  position: fixed;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}