.teamsBar {
  // background-color: #FFFFFF;
  padding: 5px 0;
  @include sm {
    display: none;
  }
  .row {
    @include flex(row, flex-end, center, center);
  }
  ul {
    @include flex(row, center, center, center);
    li {
      margin: 0 .5rem;
    }
    a {
      display: inline-block;
    }
  }
  .list_ligas {
    padding-right: 1.5rem;
    border-right: 2px solid #dbdbdb;
    a {
      &:hover {
        img {
          transform: scale(1);
          transition: all .3s ease-in-out;
        }
      }
    }
    img {
      height: 4rem;
      transform: scale(.9);
    }
    @include md {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .list_clubs {
    @include flex(row, center, center, center);
    ul {
      padding: 0 1.5rem;
      &:nth-child(1) {
        border-right: 2px solid $secondary-02;
      }
    }
    .list_clubs_02 {
      padding-right: 0;
      li {
        &:last-child {
          margin-right: 0;
        }
      }
    }
    a {
      &:hover {
        img {
          transform: scale(1);
          transition: all .3s ease-in-out;
        }
      }
    }
    img {
      height: 3rem;
      transform: scale(.9);
      transition: all .3s ease-in-out;
    }
    @include md {
      width: 100%;
    }
  }
}