form {
  width: 100%;
  margin-top: 1.5rem;
  @include flex(column, flex-start, center, flex-start);
  .container-input {
    width: 100%;
    position: relative;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
    text-align: left;
  }
  input {
    width: 100%;
    padding: .75rem 1.5rem;
    border: 2px solid $gray-01;
    border-radius: 1rem;
    @include font(1.6rem, 300, 1em);
    color: $primary-01;
    &:focus {
      outline: none;
      border: 2px solid $primary-01;
    }
    &:disabled {
      background-color: $gray-01;
    }
  }
  label {
    width: 100%;
    text-align: left;
    @include font(1.6rem, 700, 1em);
    color: $primary-01;
    text-transform: lowercase;
    padding-left: .5rem;
    &:disabled {
      color: $gray-01;
    }
  }
  .input-validate {
    border: 2px solid $secondary-02;
    color: $secondary-02;
  }
  span.input-validate {
    @include font(1.2rem, 700, 1em);
    border: none;
  }
  .btn {
    margin-top: .5rem;
  }
}

// info cartão código de barras
.info-cartao {
  @include absolute(0, .5rem, auto, auto);
  cursor: pointer;
  img {
    width: 1.8rem;
  }
}