table {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0;
  thead {
    border-bottom: 2px solid $secondary-01;
  }
  tr {
    border-radius: 1rem;
  }
  th,
  td {
    width: 25%;
    padding: 1rem .5rem;
    text-align: center;
    @include font(1.4rem, 700, 1.2em);
    text-transform: uppercase;
    color: $black-01;
    b {
      font-weight: 900;
    }
  }
  th {
    font-weight: 900;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background: #f5f5f5;
      }
    }
  }
  .status__atrasado {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid $secondary-01;
    font-size: 1.2rem;
    color: $secondary-01;
  }
  .btn {
    @include font(1.2rem, 900, 1.2em);
  }
  @include xs {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 1.5rem;
    }
    th,
    td {
      width: 100%;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: 900;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
    .btn {
      width: 100%;
    }
  }
}